.country{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    

}
.country-border{
    border: 2px solid wheat;
    padding: 50px;
    border-radius: 50px;
}
.button{
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: brown;
    border: none;


}

.country-visited{
    background-color: rgb(242, 223, 187);
    color: black;
}