.country{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    

}
.country-border{
    border: 2px solid green;
    padding: 50px;
}
.button{
    font-size: large;
    padding: 5px;
}

.country-visited{
    background-color: aqua;
}